@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

 main {
  display: grid;
  grid-gap: 1rem;
  grid-template: 
    "content" 
    "summary" 
    "actions" 
}

#cart {
  color: black;
  padding: 2rem;
  background: v.$grisaseo;
  font-weight: 300;
}

@media ( min-width: 50rem ) {
    main {
      grid-template: 
        "content summary" 
        "content actions" ;
      grid-template-columns: auto 70rem;
    }
}

.section {
  padding: 4rem;
  align-items: center;
}

//* Cart *//

.cart {
  &__summary { grid-area: summary; }
  &__actions { grid-area: actions; }
  &__items { grid-area: content; }
}


  
.cart__summary {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.8rem;
    background: v.$blanco;
    &--total { 
      font-weight: bold;  
      text-align: right; 
    }
}
  
.cart__items {
  background-color: v.$blanco;
}

.cart__item { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: v.$gris solid 1px;
  }

  &--name {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  &--trash {
    color: v.$gris;
    float: right;
    position: relative;
    top: -28rem;
    font-size: 3rem;
    margin-right: 6rem;
    &:hover{
      cursor: pointer;
      color: v.$fucsia;
    }
  }

  &--image {
    width: 15%;
  }
} 

@media ( min-width: 50rem ) {
  .cart__items { padding: 2rem 1rem; }
  .cart__items .cart__item--name,
  .cart__items .cart__item--count, 
  .cart__items .cart__item--price { 
    font-size: 2rem; 
    text-align: center; 
    float: center; 
    position: relative; 
    top: -15rem ;
  }
}
  
.cart__actions {
  background-color: v.$blanco;
  text-align: center;
}
  
.cart__header{
  box-shadow: none;
  color: v.$blanco;
  background: v.$soft-black;
  padding: 1.5rem;
  text-align: center;
  font-weight: 600;
}

//** Cart Empty **//
.empty {
  width: 70%;
  text-align: center;
  color: v.$violeta;

  p {
    color: v.$soft-black;
  }

  img {
    margin-top: 10rem;
    width: 50%;
  }
}

.empty__title {
  font-weight: 400;
}