@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.card-detail {
    margin: 100px auto;
    background: v.$blanco;
    padding: 20px;
    // border-radius: 20px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);

    @include m.tablet {
        width: 950px;
        height: 480px; 

        .guaranteed {
            text-align: left;
         } 

         .image {
            width: 45%;
            text-align: center;
            float: left;
            margin-top: -30px;
        }
    
    }
    
    .image {
        width: 0 auto;
    }
    
    del {
        font-size: 2rem;
    }

    .benefits {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: v.$principalFont;
        color: v.$azul;
    }

    .price {
        font-size: 2.5rem;
    }
}

.boton--finish {
    background-color: v.$violeta;
    margin: 0;
    &:hover {
        background-color: #a06ce9;
    }
}







