.card {
    margin: 100px auto;
    background: var(--blanco);
    width: 950px;
    height: 480px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;  
}

.image {
    width: 45%;
    text-align: center;
    float: left;
    margin-top: -30px;
}

li {
    font-family: var(--principalFont);
    font-size: 1.5rem;
    font-weight: 500;
}
.beneficios {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--principalFont);
    color: var(--azul);
}

.guaranteed {
    float: left;
    text-align: left;
}

.price {
    font-size: 2.5rem;
}

del {
    font-size: 2rem;
}
