@mixin phone {
    @media (min-width: 300px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: 1480px) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado;
}        