
$principalFont: 'SF UI Display', sans-serif;
$gris: #cfcfcf;
$blanco: #ffffff;
$grisaseo: rgb(245, 243, 243);
$negro: #000000;
$soft-black: #252422;;
$azul: #3a86ff;
$fucsia: #ff006e;
$violeta: #8338ec;
$verde: #abff4f;
$rojo: #f21b3f;

@font-face {
    font-family: 'SF UI Display';
    src: local('../../font/SF-UI-Display-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('../../font/SF-UI-Display-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('../../font/SF-UI-Display-Semibold.otf');
    font-weight: 600;
}

