//Colors
$gris: #cfcfcf;
$blanco: #ffffff;
$grisaseo: rgb(245, 243, 243);
$negro: #000000;
$soft-black: #252422;;
$azul: #3a86ff;
$fucsia: #ff006e;
$violeta: #8338ec;
$verde: #a3dd6d;
$rojo: #da0407;

//Fonts
$principalFont: 'SF UI Display', sans-serif;


