@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;

.cart {
    border: none;
    background-color: #252422;
    font-size: 2rem;
    font-family: v.$principalFont;
    color: v.$blanco;
    &:hover {
        cursor: pointer;
        font-weight: bold;
        color: v.$fucsia;
    }
}
