@use '../../scss/base/globales';
@use '../../scss/base/mixins' as m;

.productos {
    width: 100%;
    margin: 50px auto;
    place-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.tablet {
        @include m.grid(2,1rem);
    }
    @include m.desktop {
        @include m.grid(3,1rem);  
        width: 70%; 
    }
    @include m.desktopXL {
        @include m.grid(4,4rem);   
    }
}   
