@use '../../scss/base/globales';

@media (min-width: 768px) {
.container-productos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    column-gap: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    grid-template-rows: 400px;
}
}

