@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.card__category {
    background: rgb(245, 243, 243);
    width: 50rem;
    height: 20rem;
    position: relative;
    text-align: center;

    &--image {
        width: 40%;
        position: absolute;
        margin-top: -9rem;
        top: 7rem; 
        right: 2.5rem;
    }

    &--title, &--text {
        text-align: left;
        margin-left: 2rem;
        margin-bottom: 0;
    }

    &--title {
        font-size: 3rem;
        color: v.$soft-black;
        font-weight: medium;
    }

    button {
        text-transform: none;
        font-weight: normal;
    }

}

.aling-izq {
    float: left;
    margin-top: 2rem;
    margin-left: 1.5rem;
}