@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;

.content {
    color: v.$negro;
    &:hover {
        cursor: pointer;
        color: v.$negro;
    }
    &:visited {
        color: v.$negro;
        font-family: v.$principalFont;
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
}

