@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;

//** Cart Empty **//
.empty {
    width: 70%;
    text-align: center;
    color: v.$violeta;
  
    p {
      color: v.$soft-black;
    }
  
    img {
      margin-top: 10rem;
      width: 30%;
    }
  }
  
  .empty__title {
    font-weight: 400;
  }