@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;

.bar {
    padding: 2rem;
    background-color: v.$blanco;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
}

.brand {
    color: v.$negro;
    &:hover {
        color: v.$fucsia;
    }
}

.brand__name {
    font-weight: 400;
}

.brand__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegation {
        display: flex;
        gap: 2rem;
    }
}

.navegation__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: v.$negro;
}

.apple-icon {
    font-size: 4rem;
}

.ActiveOption{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: v.$fucsia;
    font-weight: bold;
}


