@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.bar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #252422;
    // box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
@include m.tablet {
    .bar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;  
    }
}

.brand {
    color: v.$blanco;
    &:hover {
        color: v.$fucsia;
    }
}

.brand__name {
    font-weight: 400;
}

.brand__bold {
    font-weight: 700;
}

@include m.tablet {
    .navegation {
        display: flex;
        gap: 2rem;
    }
}


.navegation__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: v.$blanco;
}

.apple-icon {
    font-size: 4rem;
}

.ActiveOption{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: v.$fucsia;
    font-weight: bold;
}


