@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

// Bar + Brand
.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;
    background-color: v.$soft-black;
    // position: fixed;
    // top: 0; 
    // left: 0; 
    // right: 0;
    // z-index: 9999; 
    // height: 80px;
    
    &--brand {
        color: v.$blanco;
        &:hover {
            color: v.$fucsia;
        }
        .bold {
            font-weight: 600;
        }

        &--icon {
            font-size: 3.5rem;
        }
    }


}

@include m.tablet {
    .nav__bar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;  
    }
}

// Navegation Links

.nav__links {
    &--category {
        display: block;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
        color: v.$blanco;
    }

    &--active{
        display: block;
        text-align: center;
        font-size: 1.8rem;
        color: v.$fucsia;
    
    }
}

.stroke li {
    position: relative;
    list-style: none;
        a:after{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: v.$fucsia;
            height: 1px;
        }
        a:hover:after{
            width: 100%;
        }
}

@include m.tablet {
    .nav__links {
        display: flex;
        gap: 2rem;
    }
}

// Icons

.nav__icons {
    display: flex;
    gap: 2rem;
    &--icon {
        font-size: 2rem;
        font-family: v.$principalFont;
        color: v.$blanco;
        &:hover {
            cursor: pointer;
            font-weight: bold;
            color: v.$fucsia;
        }
    }
    
}



