:root {
    --principalFont: 'Quicksand', sans-serif;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container {
    width: 100%;
    margin: 0 auto;
}
a {
    font-family: var(--principalFont);
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

h1 {
    font-family: var(--principalFont);
    font-weight: bold;
    line-height: 1.2;
    font-size: 4.8rem;
}


/** Utilidades **/
.no-margin {
    margin: 0;
}
.centrar-texto {
    text-align: center;
}

/** NavBar **/
.bar {
    padding: 2rem;
    background-color: rgb(53, 148, 226);
}
@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
}
.brand {
    color: var(--blanco);
    
}
.brand__name {
    font-weight: 400;
}
.brand__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegation {
        display: flex;
        gap: 2rem;
    }
}
.navegation__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.apple-icon {
    font-size: 4rem;
}



