@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.category__container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 3rem;

    @include m.desktop {
        width: 55% !important;
        grid-template-columns: repeat(2, 1fr);
    }
}

.white-bg {
    background-color: white;
    max-width: 100%;
    height: auto;
    @include m.tablet {
        width: 100%;
    }
}
