h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

/* label {
    font-size: 1.5rem;
    color: var(--blanco);
    background-color: rgb(216, 88, 110);
    padding: 1rem;
    font-weight: bold;
    border-radius: 999px;
} */

del {
    color: var(--gris);
    font-size: 1.5rem;
}

body {
    background-color: rgb(241, 240, 240);
}

.boton {
    display: block;
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
    border-radius: 999px;
    font-family: var(--principalFont);
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--azul);
}
.boton--primario:hover {
    background-color: #5997fa;
}
.boton--secundario {
    background-color: var(--fucsia);
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--blanco);
    font-weight: bold;
    font-family: var(--principalFont);
    font-size: 1.5rem;
} 
.counter-button {
    display: inline-block;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--blanco);
    background-color: var(--fucsia);
    padding: 1rem;
    font-weight: bold;
    border-radius: 999px;
}

.boton--secundario:hover {
    cursor: pointer;
}



