@use '../../scss/base/globales';
@use '../../scss/base/variables' as v;

.notification {
    position: absolute;
    bottom: 80;
    right: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 10px;
}

.success {
    background-color: v.$verde;
}

.error {
    background-color: v.$rojo;
}